@charset "UTF-8";
:root {
  --mainColor: #0d1216;
  --lightColor: #313c45;
  --whiteColor: #ffffff;
  --blackColor: #000000;
  --backgroundMainColor: #fbfbfd;
  --backgroundButtonSilverColor: #f0f0f2;
  --mainGragient: linear-gradient(to right, #00c4cc, #8b3dff);
}

.dark-theme {
  --mainColor: #cbcbcb;
  --lightColor: #abacac;
  --whiteColor: #000000;
  --blackColor: #f9f9f9;
  --backgroundMainColor: #2f2f2f;
  --backgroundButtonSilverColor: #3e3d3d;
}

[class*=__container] {
  max-width: 79.375rem;
  margin: 0 auto;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}

body {
  font-family: "Quicksand";
  font-weight: 500;
  font-style: normal;
  color: var(--mainColor);
  background-color: var(--whiteColor);
}

.button {
  font-weight: 700;
  line-height: 1.56; /* 25/16 */
  border-radius: 0.5rem;
  padding: 0.75rem 1.25rem;
  background-color: #8b3dff;
  color: #fff;
}
@media (max-width: 37.5em) {
  .button {
    width: 100%;
    text-align: center;
  }
}

.title {
  font-size: 2.5rem;
  line-height: 1.2; /* 48/40 */
  font-weight: 700;
}
@media (max-width: 61.99875em) {
  .title {
    font-size: 2rem;
  }
}
@media (max-width: 47.99875em) {
  .title {
    font-size: 1.5rem;
    line-height: 1.33; /* 32/24 */
  }
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

@font-face {
  font-family: "Quicksand";
  src: url("../fonts/Quicksand-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Quicksand";
  src: url("../fonts/Quicksand-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Quicksand";
  src: url("../fonts/Quicksand-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Comic Neue";
  src: url("../fonts/ComicNeue-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Comic Neue";
  src: url("../fonts/ComicNeue-Regular.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
.header {
  height: 4.6875rem;
}
.header__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background-color: var(--whiteColor);
  z-index: 10;
}
.header__row {
  padding: 1.0625rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 3.0625rem;
     -moz-column-gap: 3.0625rem;
          column-gap: 3.0625rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 61.99875em) {
  .header__row {
    -webkit-column-gap: 1.875rem;
       -moz-column-gap: 1.875rem;
            column-gap: 1.875rem;
  }
}
@media (max-width: 47.99875em) {
  .header__row {
    padding: 1.125rem 0;
  }
}
.header__nav {
  margin-left: auto;
}
@media (max-width: 47.99875em) {
  .header__nav {
    background-color: var(--whiteColor);
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 100vh;
    z-index: 8;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 3.125rem;
    padding: 6.25rem;
    overflow-y: auto;
    -webkit-transition: -webkit-transform ease-in-out 0.3s;
    transition: -webkit-transform ease-in-out 0.3s;
    transition: transform ease-in-out 0.3s;
    transition: transform ease-in-out 0.3s, -webkit-transform ease-in-out 0.3s;
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);
  }
}
@media (max-width: 31.25em) {
  .header__nav {
    width: 100%;
  }
}
.header__nav.active {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: -webkit-transform ease-in-out 0.3s;
  transition: -webkit-transform ease-in-out 0.3s;
  transition: transform ease-in-out 0.3s;
  transition: transform ease-in-out 0.3s, -webkit-transform ease-in-out 0.3s;
}
.header__burger {
  display: none;
}
@media (max-width: 47.99875em) {
  .header__burger {
    display: block;
  }
}
.header__theme {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: auto;
}
.header__theme > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.logo-header {
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.4375rem;
     -moz-column-gap: 0.4375rem;
          column-gap: 0.4375rem;
}
.logo-header__img {
  width: 2.3125rem;
  height: 2.3125rem;
}
.logo-header__img > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.logo-header__text {
  font-size: 1.0625rem;
  font-family: "Comic Neue", serif;
  font-weight: 500;
}
.logo-header__text > span {
  font-weight: 700;
}
@media (max-width: 61.99875em) {
  .logo-header__text {
    display: none;
  }
}

.burger-header {
  width: 2rem;
  height: 1.4375rem;
  position: relative;
  z-index: 10;
  overflow: hidden;
  cursor: pointer;
}
.burger-header__border {
  width: 100%;
  height: 0.125rem;
  background-color: var(--blackColor);
  position: absolute;
  left: 0;
  -webkit-transition: -webkit-transform ease-in-out 0.3s;
  transition: -webkit-transform ease-in-out 0.3s;
  transition: transform ease-in-out 0.3s;
  transition: transform ease-in-out 0.3s, -webkit-transform ease-in-out 0.3s;
}
.burger-header__border:nth-child(1) {
  top: 0;
}
.burger-header__border:nth-child(2) {
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.burger-header__border:nth-child(3) {
  bottom: 0;
}
.burger-header.active > .burger-header__border:nth-child(1) {
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(45deg);
      -ms-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
}
.burger-header.active > .burger-header__border:nth-child(2) {
  -webkit-transform: translateX(200%);
      -ms-transform: translateX(200%);
          transform: translateX(200%);
}
.burger-header.active > .burger-header__border:nth-child(3) {
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(-45deg);
      -ms-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
}

.nav-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 3rem;
     -moz-column-gap: 3rem;
          column-gap: 3rem;
}
@media (max-width: 61.99875em) {
  .nav-header__list {
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }
}
@media (max-width: 47.99875em) {
  .nav-header__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 0.9375rem;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}
.nav-header__link {
  color: var(--lightColor);
  line-height: 1.56; /* 25/16 */
  -webkit-transition: color 0.3s, font-weight 0.2s;
  transition: color 0.3s, font-weight 0.2s;
}
@media (any-hover: hover) {
  .nav-header__link:hover {
    color: var(--mainColor);
    font-weight: 700;
    -webkit-transition: color 0.3s, font-weight 0.2s;
    transition: color 0.3s, font-weight 0.2s;
  }
}

.app-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.75rem;
     -moz-column-gap: 0.75rem;
          column-gap: 0.75rem;
}
@media (max-width: 47.99875em) {
  .app-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    row-gap: 0.9375rem;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}
.app-header__google {
  max-width: 8.4375rem;
  max-height: 2.5625rem;
}
.app-header__google > img {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
.app-header__app-store {
  max-width: 7.5rem;
  max-height: 2.5625rem;
}
.app-header__app-store > img {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2.5rem;
  background-color: var(--whiteColor);
  padding-top: 4.0625rem;
  padding-bottom: 4.0625rem;
}
@media (max-width: 47.99875em) {
  .footer__container {
    padding-top: 1.9375rem;
    padding-bottom: 1.9375rem;
    gap: 1.3125rem;
  }
}
.footer__border {
  width: 100%;
  height: 0.0625rem;
  background-color: var(--mainColor);
  opacity: 0.3;
}
.main-footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5625rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 47.99875em) {
  .main-footer__row {
    row-gap: 2.5rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.main-footer__info {
  -ms-flex-preferred-size: 25rem;
      flex-basis: 25rem;
}
@media (max-width: 61.99875em) {
  .main-footer__info {
    -ms-flex-preferred-size: 20.9375rem;
        flex-basis: 20.9375rem;
  }
}
@media (max-width: 47.99875em) {
  .main-footer__info {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }
}
.info-main-footer__logo {
  margin-bottom: 1rem;
}
.info-main-footer__text {
  margin-bottom: 1.5rem;
  font-size: 0.875rem;
  color: var(--lightColor);
  line-height: 1.71; /* 24/14 */
}
.info-main-footer__app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.75rem;
     -moz-column-gap: 0.75rem;
          column-gap: 0.75rem;
}
.info-main-footer__app-google {
  max-width: 8.4375rem;
  max-height: 2.5rem;
}
.info-main-footer__app-google > img {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
.info-main-footer__app-store {
  max-width: 7.5rem;
  max-height: 2.5rem;
}
.info-main-footer__app-store > img {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.logo-info-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.4375rem;
     -moz-column-gap: 0.4375rem;
          column-gap: 0.4375rem;
}
.logo-info-footer__img {
  width: 2.3125rem;
  height: 2.3125rem;
}
.logo-info-footer__img > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.logo-info-footer__text {
  font-size: 1.0625rem;
  font-family: "Comic Neue", serif;
  font-weight: 500;
}
.logo-info-footer__text > span {
  font-weight: 700;
}

.links-main-footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 6.25rem;
     -moz-column-gap: 6.25rem;
          column-gap: 6.25rem;
  row-gap: 2.375rem;
}
@media (max-width: 61.99875em) {
  .links-main-footer__row {
    -webkit-column-gap: 2.5rem;
       -moz-column-gap: 2.5rem;
            column-gap: 2.5rem;
  }
}
@media (max-width: 47.99875em) and (max-width: 61.99875em) {
  .links-main-footer__row {
    -webkit-column-gap: 3.875rem;
       -moz-column-gap: 3.875rem;
            column-gap: 3.875rem;
  }
}
.links-main-footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1.25rem;
}
.links-main-footer__item-title {
  margin-bottom: 0.625rem;
  font-weight: 700;
  line-height: 1.5; /* 25/16 */
}
.links-main-footer__item {
  color: var(--lightColor);
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.71; /* 24/14 */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.625rem;
     -moz-column-gap: 0.625rem;
          column-gap: 0.625rem;
}
.links-main-footer__item > img {
  width: 1.4375rem;
  height: 1.4375rem;
  -o-object-fit: contain;
     object-fit: contain;
}
.bottom-footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.bottom-footer__links {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.71; /* 24/14 */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
}
@media (max-width: 31.25em) {
  .bottom-footer__links {
    font-size: 0.8125rem;
  }
}
.bottom-footer__copyright {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.71; /* 24/14 */
}
@media (max-width: 31.25em) {
  .bottom-footer__copyright {
    font-size: 0.8125rem;
  }
}

.hero__wrapper {
  background-color: var(--backgroundMainColor);
}
.hero__row {
  padding-bottom: 8.5625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
@media (max-width: 47.99875em) {
  .hero__row {
    padding-bottom: 1.5rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 1.5rem;
  }
}
.hero__info {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 37.5rem;
          flex: 1 1 37.5rem;
}
@media (max-width: 47.99875em) {
  .hero__info {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }
}
.hero__image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  overflow: hidden;
}
.hero__image > img {
  min-width: 37.5rem;
  -webkit-transform: scale(1.2) translateY(10%);
      -ms-transform: scale(1.2) translateY(10%);
          transform: scale(1.2) translateY(10%);
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 47.99875em) {
  .hero__image > img {
    min-width: auto;
  }
}
@media (max-width: 47.99875em) {
  .hero__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
}

.info-hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1.5rem;
}
@media (max-width: 47.99875em) {
  .info-hero {
    row-gap: 1rem;
  }
}
.info-hero__borders-lines-image {
  -webkit-transform: translateY(3.125rem);
      -ms-transform: translateY(3.125rem);
          transform: translateY(3.125rem);
  margin-top: -3.125rem;
  max-width: 29.125rem;
  max-height: 10.8125rem;
}
.info-hero__borders-lines-image > img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 47.99875em) {
  .info-hero__borders-lines-image {
    max-width: none;
    margin-top: -6.25rem;
    -webkit-transform: translateY(1.875rem);
        -ms-transform: translateY(1.875rem);
            transform: translateY(1.875rem);
  }
}
.info-hero__title {
  font-size: 4rem;
  line-height: 1.2; /* 78/64 */
  font-weight: 700;
}
.info-hero__title > span {
  background: var(--mainGragient);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (max-width: 75em) {
  .info-hero__title {
    font-size: 3.25rem;
  }
}
@media (max-width: 61.99875em) {
  .info-hero__title {
    font-size: 2.875rem;
  }
}
@media (max-width: 47.99875em) {
  .info-hero__title {
    font-size: 2.5rem;
  }
}
.info-hero__text {
  font-size: 1.25rem;
  line-height: 1.6; /* 32/20 */
}
@media (max-width: 47.99875em) {
  .info-hero__text {
    margin-bottom: 0.5rem;
  }
}
.buttons-info-hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0.75rem;
  white-space: nowrap;
}
.buttons-info-hero__library {
  color: var(--mainColor);
  background-color: var(--backgroundButtonSilverColor);
}

.scores-info-hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.4375rem;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.71; /* 24/14 */
}
.scores-info-hero__stars-image {
  width: 6.625rem;
}
.scores-info-hero__stars-image > img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.features__wrapper {
  background-image: url(../images/features/wrapper-image.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.features__container {
  padding: 5.3125rem 0.9375rem;
}
@media (max-width: 47.99875em) {
  .features__container {
    padding: 3.5625rem 1.25rem;
  }
}
.features__row {
  padding: 2.875rem 3rem;
  background-color: var(--whiteColor);
  border-radius: 0.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 6.1875rem;
     -moz-column-gap: 6.1875rem;
          column-gap: 6.1875rem;
}
@media (max-width: 68.75em) {
  .features__row {
    -webkit-column-gap: 3.125rem;
       -moz-column-gap: 3.125rem;
            column-gap: 3.125rem;
  }
}
@media (max-width: 61.99875em) {
  .features__row {
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }
}
@media (max-width: 47.99875em) {
  .features__row {
    padding: 2rem 0.625rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 5rem;
  }
}
.block-features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1rem;
}
@media (max-width: 47.99875em) {
  .block-features {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}
.block-features__image {
  width: 6.875rem;
  height: 6.5625rem;
}
.block-features__image > img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 47.99875em) {
  .block-features__image {
    width: 4.6875rem;
    height: 4.5rem;
  }
}
.block-features__title {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.33; /* 32/24 */
}
@media (max-width: 47.99875em) {
  .block-features__title {
    font-size: 1.25rem;
  }
}
.block-features__info-text {
  color: var(--lightColor);
  line-height: 1.56; /* 25/16 */
}

.app__wrapper {
  background-color: var(--whiteColor);
  overflow: hidden;
}
.app__row {
  padding: 6.25rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.9375rem;
  position: relative;
}
.app__row::before {
  content: "";
  background-image: url(../images/hero/lines.svg);
  background-repeat: no-repeat;
  -webkit-transform: rotate(-68deg);
      -ms-transform: rotate(-68deg);
          transform: rotate(-68deg);
  position: absolute;
  left: -20.75rem;
  top: 11.25rem;
  width: 29.125rem;
  height: 10.8125rem;
}
@media (max-width: 47.99875em) {
  .app__row {
    padding: 2.5rem 0 0 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 2.5rem;
  }
}
.app__info {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 37.5rem;
          flex: 1 1 37.5rem;
}
@media (max-width: 47.99875em) {
  .app__info {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
}
.app__image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 28.125rem;
          flex: 1 1 28.125rem;
}
.app__image > img {
  aspect-ratio: 500/840;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
          transform: scale(1.3);
  margin-left: -3.125rem;
}
@media (max-width: 47.99875em) {
  .app__image > img {
    margin-left: -6.25rem;
  }
}
@media (max-width: 29.99875em) {
  .app__image > img {
    margin-left: -3.3125rem;
  }
}
@media (max-width: 47.99875em) {
  .app__image {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
}

.info-app__title {
  margin-bottom: 1.5rem;
}
@media (max-width: 47.99875em) {
  .info-app__title {
    margin-bottom: 1rem;
  }
}
.info-app__text {
  margin-bottom: 2rem;
  color: var(--lightColor);
  font-size: 1.25rem;
  line-height: 1.33;
}
@media (max-width: 47.99875em) {
  .info-app__text {
    margin-bottom: 1.5rem;
    font-size: 1rem;
    line-height: 1.56; /* 25/16 */
  }
}
.info-app__list {
  margin-bottom: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 2.3125rem;
}
@media (max-width: 47.99875em) {
  .info-app__list {
    margin-bottom: 1.875rem;
    row-gap: 1.5rem;
  }
}
.info-app__item {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.6; /* 32/20 */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1.375rem;
     -moz-column-gap: 1.375rem;
          column-gap: 1.375rem;
}
@media (max-width: 47.99875em) {
  .info-app__item {
    font-size: 1rem;
  }
}
.info-app__item::before {
  content: "1";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.375rem;
  color: var(--whiteColor);
  width: 2.625rem;
  height: 2.625rem;
  border-radius: 50%;
  background: var(--mainGragient);
}
.info-app__item:nth-child(2)::before {
  content: "2";
}
.info-app__item:nth-child(3)::before {
  content: "3";
}
.info-app__item:nth-child(4)::before {
  content: "4";
}
.info-app__item:nth-child(5)::before {
  content: "5";
}
.info-app__item:nth-child(6)::before {
  content: "6";
}
.app-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.8125rem;
     -moz-column-gap: 0.8125rem;
          column-gap: 0.8125rem;
}
.app-info__google-image {
  width: 11rem;
  height: 3.25rem;
  border-radius: 0.4375rem;
  overflow: hidden;
}
.app-info__google-image > img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.app-info__app-image {
  width: 9.75rem;
  height: 3.25rem;
  border-radius: 0.4375rem;
  overflow: hidden;
}
.app-info__app-image > img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.explore__wrapper {
  background-image: url(../images/explore/background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.explore__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 8.3125rem;
     -moz-column-gap: 8.3125rem;
          column-gap: 8.3125rem;
}
@media (max-width: 71.875em) {
  .explore__row {
    -webkit-column-gap: 2.5rem;
       -moz-column-gap: 2.5rem;
            column-gap: 2.5rem;
  }
}
@media (max-width: 40.625em) {
  .explore__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.explore__info {
  padding: 7.5625rem 0;
  -ms-flex-preferred-size: 37.5rem;
      flex-basis: 37.5rem;
}
@media (max-width: 71.875em) {
  .explore__info {
    padding: 5rem 0;
  }
}
@media (max-width: 61.99875em) {
  .explore__info {
    padding: 3.75rem 0;
  }
}
@media (max-width: 47.99875em) {
  .explore__info {
    padding: 2.75rem 0;
  }
}
.explore__image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 32.1875rem;
          flex: 1 1 32.1875rem;
}
.explore__image > img {
  width: 100%;
  aspect-ratio: 515/493;
}
@media (max-width: 40.625em) {
  .explore__image {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }
}

.info-explore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  row-gap: 1.5rem;
}
.info-explore__title {
  color: #fff;
}
.info-explore__text {
  font-size: 1.25rem;
  color: #fff;
  line-height: 1.6; /* 32/20 */
}
@media (max-width: 47.99875em) {
  .info-explore__text {
    font-size: 1rem;
  }
}
.info-explore__button {
  background-color: var(--whiteColor);
  color: var(--blackColor);
}

.join__wrapper {
  background-image: url(../images/features/wrapper-image.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 47.99875em) {
  .join__wrapper {
    background-image: none;
  }
}
.join__container {
  padding-top: 6.25rem;
  padding-bottom: 6.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 47.99875em) {
  .join__container {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
}
.join__top {
  margin-bottom: 6.25rem;
}
.join__images {
  width: 100%;
}
@media (max-width: 68.75em) {
  .join__images {
    display: none;
  }
}
.join__main {
  margin-bottom: 3.75rem;
}
.join__slider {
  margin-bottom: 3.75rem;
}
.top-join {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 47.99875em) {
  .top-join {
    row-gap: 2rem;
  }
}
.top-join__title {
  text-align: center;
}
.top-join__info-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 3.125rem;
     -moz-column-gap: 3.125rem;
          column-gap: 3.125rem;
}
@media (max-width: 61.99875em) {
  .top-join__info-row {
    -webkit-column-gap: 0.9375rem;
       -moz-column-gap: 0.9375rem;
            column-gap: 0.9375rem;
  }
}
@media (max-width: 47.99875em) {
  .top-join__info-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 1.25rem;
  }
}
.top-join__border {
  width: 0.0625rem;
  height: 3.9375rem;
  background-color: #78848c;
}
@media (max-width: 47.99875em) {
  .top-join__border {
    width: 1.25rem;
    height: 0.0625rem;
  }
}

.block-top-join__title {
  margin-bottom: 0.4375rem;
  text-align: center;
  color: var(--lightColor);
  font-size: 1.125rem;
  line-height: 1.27; /* 23/18 */
}
@media (max-width: 47.99875em) {
  .block-top-join__title {
    font-size: 1rem;
  }
}
.block-top-join__info-text {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.33; /* 32/24 */
  text-align: center;
}
@media (max-width: 47.99875em) {
  .block-top-join__info-text {
    font-size: 1.25rem;
  }
}

.images-join {
  position: relative;
}
.images-join__book {
  position: absolute;
  top: 0;
  left: -3.75rem;
  -webkit-transform: translateY(-60%);
      -ms-transform: translateY(-60%);
          transform: translateY(-60%);
  width: 9rem;
  height: 9rem;
}
.images-join__book > img {
  width: 100%;
  aspect-ratio: 1/1;
}
@media (max-width: 85em) {
  .images-join__book {
    left: 0rem;
  }
}
.images-join__globe {
  position: absolute;
  top: 0;
  right: -3.75rem;
  -webkit-transform: translateY(-60%);
      -ms-transform: translateY(-60%);
          transform: translateY(-60%);
  width: 9rem;
  height: 9rem;
}
.images-join__globe > img {
  width: 100%;
  aspect-ratio: 1/1;
}
@media (max-width: 85em) {
  .images-join__globe {
    right: 0rem;
  }
}

.main-join {
  max-width: 51.25rem;
}
.main-join__title {
  margin-bottom: 1.5rem;
  text-align: center;
}
.main-join__text {
  margin-bottom: 2rem;
  text-align: center;
  color: var(--lightColor);
  font-size: 1.25rem;
  line-height: 1.6; /* 32/20 */
}
.main-join__text > span {
  background-color: #bffbff;
  padding: 0 0.1875rem;
}
@media (max-width: 47.99875em) {
  .main-join__text {
    font-size: 1rem;
  }
}
.bottom-main-join {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 1.5rem;
     -moz-column-gap: 1.5rem;
          column-gap: 1.5rem;
}
@media (max-width: 61.99875em) {
  .bottom-main-join {
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }
}
@media (max-width: 47.99875em) {
  .bottom-main-join {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 1.3125rem;
  }
}
.bottom-main-join__pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1rem;
     -moz-column-gap: 1rem;
          column-gap: 1rem;
}
.bottom-main-join__pagination > * {
  border-radius: 50%;
  width: 2.625rem;
  aspect-ratio: 1/1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.375rem;
  font-weight: 600;
  color: #0d1216;
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(white)) padding-box, -webkit-gradient(linear, left top, right top, from(#00c4cc), to(#8b3dff)) border-box;
  background: linear-gradient(white, white) padding-box, linear-gradient(to right, #00c4cc, #8b3dff) border-box; /* градієнтна рамка */
  border: 0.0625rem solid transparent;
}
@media (max-width: 61.99875em) {
  .bottom-main-join__pagination > * {
    font-size: 1.0625rem;
    width: 2.1875rem;
  }
}
@media (max-width: 47.99875em) {
  .bottom-main-join__pagination > * {
    font-size: 0.9375rem;
    width: 1.8125rem;
  }
}
.bottom-main-join__pagination > div:first-child {
  color: var(--whiteColor);
  background: -webkit-gradient(linear, left top, right top, from(#00c4cc), to(#8b3dff));
  background: linear-gradient(to right, #00c4cc, #8b3dff);
  border: none;
}
.bottom-main-join__border {
  width: 0.0625rem;
  height: 3rem;
  background-color: #78848c;
}
@media (max-width: 47.99875em) {
  .bottom-main-join__border {
    display: none;
  }
}
.bottom-main-join__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 6.25rem;
  font-size: 1.0625rem;
  line-height: 2.05; /* 35/17 */
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(white)) padding-box, -webkit-gradient(linear, left top, right top, from(#00c4cc), to(#8b3dff)) border-box;
  background: linear-gradient(white, white) padding-box, linear-gradient(to right, #00c4cc, #8b3dff) border-box; /* градієнтна рамка */
  border: 0.0625rem solid transparent;
  overflow: hidden;
  width: 27.5rem;
}
@media (max-width: 61.99875em) {
  .bottom-main-join__links {
    width: 25rem;
  }
}
@media (max-width: 26.5625em) {
  .bottom-main-join__links {
    width: auto;
  }
}
.bottom-main-join__games {
  padding: 0.4375rem 0.75rem;
  color: #fff;
  background: var(--mainGragient);
  -ms-flex-preferred-size: 13.75rem;
      flex-basis: 13.75rem;
  white-space: nowrap;
  text-align: center;
}
@media (max-width: 26.5625em) {
  .bottom-main-join__games {
    padding: 0.4375rem 0.25rem;
  }
}
@media (max-width: 21.875em) {
  .bottom-main-join__games {
    padding: 0.4375rem 0.125rem;
  }
}
.bottom-main-join__practice {
  -ms-flex-preferred-size: 13.75rem;
      flex-basis: 13.75rem;
  padding: 0.4375rem 0.75rem;
  text-align: center;
  white-space: nowrap;
  background-color: var(--whiteColor);
  color: var(--mainColor);
}
@media (max-width: 26.5625em) {
  .bottom-main-join__practice {
    padding: 0.4375rem 0.3125rem;
  }
}
@media (max-width: 21.875em) {
  .bottom-main-join__practice {
    padding: 0.4375rem 0.125rem;
  }
}

.bottom-join {
  text-align: center;
}
@media (max-width: 47.99875em) {
  .bottom-join {
    display: none;
  }
}
.bottom-join__link {
  margin-bottom: 1rem;
}
.bottom-join__info-text {
  line-height: 156.25%; /* 25/16 */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.3125rem;
}
.bottom-join__info-text > span {
  text-decoration: underline;
}
.bottom-join__info-text::before {
  content: "";
  width: 1.375rem;
  margin-right: 0.1875rem;
  aspect-ratio: 1/1;
  background-image: url(../images/join/icon-bell.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.slider-join {
  margin-bottom: 3.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 0 20px;
}
.slider-join__swiper {
  width: 100%;
  max-width: none;
}
.slider-join__swiper-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.slider-join .swiper-slide {
  width: 390px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  height: auto;
}
@media (max-width: 767.98px) {
  .slider-join .swiper-slide {
    width: 323px;
  }
}
.slider-join__image img {
  width: 100%;
  aspect-ratio: 390/290;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 47.99875em) {
  .slider-join__image img {
    aspect-ratio: 323/240;
  }
}
.slider-join__block {
  border-radius: 0.75rem;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05);
  overflow: hidden;
  background-color: #fff;
  height: 100%;
}
.slider-join__block > *:not(:first-child) {
  padding-left: 1.375rem;
}
.slider-join__image {
  margin-bottom: 0.625rem;
}
.slider-join__title {
  margin-bottom: 0.625rem;
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 1.36; /* 41/30 */
}
@media (max-width: 47.99875em) {
  .slider-join__title {
    font-size: 1.5rem;
  }
}
.slider-join__category {
  margin-bottom: 2.1875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0.875rem;
}
.slider-join__category > div {
  padding: 0.375rem 0.625rem;
  border-radius: 0.375rem;
  color: #00c4cc;
  background-color: rgba(0, 196, 204, 0.1);
  white-space: nowrap;
}
@media (max-width: 61.99875em) {
  .slider-join__category > div {
    font-size: 0.875rem;
    padding: 0.3125rem 0.5rem;
  }
}
@media (max-width: 47.99875em) {
  .slider-join__category > div {
    font-size: 0.75rem;
  }
}
.slider-join__link {
  margin-bottom: 1.5rem;
  color: #8b3dff;
  font-weight: 700;
  line-height: 1.25; /* 20/16 */
  text-decoration: underline;
}

.find__container {
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
}
@media (max-width: 47.99875em) {
  .find__container {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
}
.find__row-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 2.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.find__images-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 4.625rem;
     -moz-column-gap: 4.625rem;
          column-gap: 4.625rem;
  row-gap: 2.5rem;
}
@media (max-width: 61.99875em) {
  .find__images-row {
    -webkit-column-gap: 2rem;
       -moz-column-gap: 2rem;
            column-gap: 2rem;
    row-gap: 1.625rem;
  }
}
.find__image {
  -ms-flex-preferred-size: 12.5rem;
      flex-basis: 12.5rem;
  border-radius: 0.75rem;
  overflow: hidden;
}
.find__image > img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
}
.find__image:nth-child(1) {
  width: 7.875rem;
}
.find__image:nth-child(2) {
  width: 13.125rem;
}
.find__image:nth-child(3) {
  width: 8.75rem;
}
.find__image:nth-child(4) {
  width: 13.875rem;
}
.find__image:nth-child(5) {
  width: 8.1875rem;
}
.find__image:nth-child(6) {
  width: 6.4375rem;
}
.find__image:nth-child(7) {
  width: 11.9375rem;
}
@media (max-width: 47.99875em) {
  .find__image {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }
  .find__image:nth-child(1) {
    width: 4.1875rem;
  }
  .find__image:nth-child(2) {
    width: 8.5rem;
  }
  .find__image:nth-child(3) {
    width: 4.3125rem;
  }
  .find__image:nth-child(4) {
    width: 8.3125rem;
  }
  .find__image:nth-child(5) {
    width: 7.3125rem;
  }
  .find__image:nth-child(6) {
    width: 3.375rem;
  }
  .find__image:nth-child(7) {
    width: 7.6875rem;
  }
}

.subscription__wrapper {
  background-image: url(../images/subscription-wrapper-image.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.subscription__container {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}
@media (max-width: 47.99875em) {
  .subscription__container {
    padding-top: 2.0625rem;
    padding-bottom: 2.0625rem;
  }
}
.subscription__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 4.3125rem;
     -moz-column-gap: 4.3125rem;
          column-gap: 4.3125rem;
}
@media (max-width: 47.99875em) {
  .subscription__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 1.5rem;
  }
}
.subscription__info {
  -ms-flex-preferred-size: 37.5rem;
      flex-basis: 37.5rem;
}
@media (max-width: 47.99875em) {
  .subscription__info {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }
}
.subscription__email {
  -ms-flex-preferred-size: 35.6875rem;
      flex-basis: 35.6875rem;
}
@media (max-width: 47.99875em) {
  .subscription__email {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    width: 100%;
  }
}
.info-subscription__title {
  margin-bottom: 0.5625rem;
  font-size: 2rem;
  line-height: 1.3; /* 41/32 */
  font-weight: 700;
  color: #fff;
}
@media (max-width: 47.99875em) {
  .info-subscription__title {
    font-size: 1.5rem;
  }
}
.info-subscription__text {
  color: #fff;
  line-height: 1.56; /* 25/16 */
}

.email-subscription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 29.99875em) {
  .email-subscription {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 0.75rem;
  }
}
.email-subscription__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fef7ff;
  border-radius: 0.75rem;
  width: 100%;
}
.email-subscription__input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0.875rem 1rem;
  font-size: 1rem;
  outline: none;
  -webkit-transition: border-color 0.3s;
  transition: border-color 0.3s;
}
.email-subscription__input:focus {
  border-color: #8b3dff;
}
.email-subscription__input::-webkit-input-placeholder {
  color: #48555f;
  font-weight: 700;
  font-size: 1.0625rem;
  line-height: 1.47; /* 25/17 */
}
.email-subscription__input::-moz-placeholder {
  color: #48555f;
  font-weight: 700;
  font-size: 1.0625rem;
  line-height: 1.47; /* 25/17 */
}
.email-subscription__input:-ms-input-placeholder {
  color: #48555f;
  font-weight: 700;
  font-size: 1.0625rem;
  line-height: 1.47; /* 25/17 */
}
.email-subscription__input::-ms-input-placeholder {
  color: #48555f;
  font-weight: 700;
  font-size: 1.0625rem;
  line-height: 1.47; /* 25/17 */
}
.email-subscription__input::placeholder {
  color: #48555f;
  font-weight: 700;
  font-size: 1.0625rem;
  line-height: 1.47; /* 25/17 */
}
.email-subscription__button {
  padding: 1rem 1.25rem;
  border-radius: 0 0.75rem 0.75rem 0;
  background-color: #fff;
  color: #0d1216;
  font-weight: 700;
  font-size: 1.0625rem;
  line-height: 1.47; /* 25/17 */
  border: none;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
@media (any-hover: hover) {
  .email-subscription__button:hover {
    opacity: 0.5;
  }
}
@media (max-width: 29.99875em) {
  .email-subscription__button {
    border-radius: 0.75rem;
    width: 100%;
    padding: 0.75rem 1.25rem;
  }
}

.testimonials__wrapper {
  background-image: url(../images/features/wrapper-image.svg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.testimonials__container {
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
}
@media (max-width: 47.99875em) {
  .testimonials__container {
    padding-top: 3.125rem;
    padding-bottom: 3.125rem;
  }
}
.testimonials__row-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.testimonials__title {
  margin-bottom: 1.5rem;
  max-width: 37.5rem;
  text-align: center;
}
@media (max-width: 47.99875em) {
  .testimonials__title {
    margin-bottom: 1rem;
  }
}
.testimonials__info-text {
  margin-bottom: 3.75rem;
  color: var(--lightColor);
  font-size: 1.25rem;
  line-height: 1.6; /* 32/20 */
  max-width: 37.5rem;
  text-align: center;
}
.testimonials__info-text > span {
  text-decoration: underline;
}
@media (max-width: 47.99875em) {
  .testimonials__info-text {
    margin-bottom: 2rem;
  }
}
.testimonials__message {
  margin-bottom: 4.5rem;
}
@media (max-width: 47.99875em) {
  .testimonials__message {
    margin-bottom: 2.5rem;
  }
}
.images-testimonials {
  position: relative;
  width: 100%;
}
@media (max-width: 61.99875em) {
  .images-testimonials {
    display: none;
  }
}
.images-testimonials__planet {
  position: absolute;
  top: -5rem;
  left: -3rem;
}
.images-testimonials__planet > img {
  width: 100%;
  aspect-ratio: 1/1;
}
.images-testimonials__drawing {
  position: absolute;
  top: -13.125rem;
  right: -2.5rem;
}
.images-testimonials__drawing > img {
  width: 100%;
  aspect-ratio: 1/1;
}

.message-testimonials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
}
@media (max-width: 75em) {
  .message-testimonials {
    gap: 1.25rem;
  }
}
.message-testimonials__wrapper-block {
  padding: 1.875rem;
  background-color: var(--whiteColor);
  -webkit-box-flex: 1;
      -ms-flex: 1 1 24.0625rem;
          flex: 1 1 24.0625rem;
  max-width: 25rem;
}
@media (max-width: 75em) {
  .message-testimonials__wrapper-block {
    padding: 1.625rem;
  }
}
.message-testimonials__icon {
  margin-bottom: 1.5rem;
  width: 2.5rem;
  height: 1.875rem;
}
@media (max-width: 47.99875em) {
  .message-testimonials__icon {
    width: 2.1875rem;
    height: 1.625rem;
  }
}
.message-testimonials__icon > img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.message-testimonials__text {
  margin-bottom: 1.25rem;
  font-size: 1.125rem;
  line-height: 1.5; /* 27/18 */
}
@media (max-width: 47.99875em) {
  .message-testimonials__text {
    font-size: 1rem;
    line-height: 1.43; /* 23/16 */
  }
}
.user-message-testimonials {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.38; /* 25/18 */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 47.99875em) {
  .user-message-testimonials {
    font-size: 1rem;
  }
}
.user-message-testimonials__fullname {
  white-space: nowrap;
}
@media (max-width: 23.4375em) {
  .user-message-testimonials__fullname {
    margin-right: 0.6875rem;
  }
}
.user-message-testimonials__app {
  margin-right: 0.8125rem;
}
@media (max-width: 47.99875em) {
  .user-message-testimonials__app {
    margin-right: 0.6875rem;
  }
}
@media (max-width: 23.4375em) {
  .user-message-testimonials__app {
    display: none;
  }
}
.user-message-testimonials__image-stars {
  width: 6.625rem;
  height: 1.125rem;
}
.user-message-testimonials > img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.app-testimonials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.8125rem;
     -moz-column-gap: 0.8125rem;
          column-gap: 0.8125rem;
}
@media (max-width: 47.99875em) {
  .app-testimonials {
    -webkit-column-gap: 0.625rem;
       -moz-column-gap: 0.625rem;
            column-gap: 0.625rem;
  }
}
.app-testimonials__google {
  width: 11rem;
  height: 3.25rem;
}
.app-testimonials__google > img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 47.99875em) {
  .app-testimonials__google {
    width: 8.875rem;
    height: 2.625rem;
  }
}
.app-testimonials__app-store {
  width: 9.75rem;
  height: 3.25rem;
}
.app-testimonials__app-store > img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 47.99875em) {
  .app-testimonials__app-store {
    width: 7.875rem;
    height: 2.625rem;
  }
}

.questions__container {
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
}
@media (max-width: 47.99875em) {
  .questions__container {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
}
.questions__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}
@media (max-width: 47.99875em) {
  .questions__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.questions__title {
  -ms-flex-preferred-size: 26rem;
      flex-basis: 26rem;
}
@media (max-width: 47.99875em) {
  .questions__title {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }
}
.questions__item {
  -ms-flex-preferred-size: 48rem;
      flex-basis: 48rem;
}
@media (max-width: 47.99875em) {
  .questions__item {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }
}
.block-questions {
  position: relative;
}
.block-questions:not(:last-child)::after {
  content: "";
  width: 100%;
  height: 0.0625rem;
  background-color: #cfd3d6;
  margin: 2rem 0;
}
@media (max-width: 47.99875em) {
  .block-questions:not(:last-child)::after {
    margin: 1rem 0;
  }
}
.block-questions__title {
  margin-bottom: 1.25rem;
  margin-left: 2.5rem;
  margin-right: 3.125rem;
  font-size: 1.375rem;
  font-weight: 600;
  line-height: 1.45; /* 32/22 */
}
@media (max-width: 47.99875em) {
  .block-questions__title {
    margin-bottom: 0.625rem;
    margin-left: 0rem;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.56; /* 25/16 */
  }
}
.block-questions__button {
  width: 2.625rem;
  height: 2.625rem;
  border-radius: 50%;
  background: var(--mainGragient);
  position: absolute;
  top: 0;
  right: 0;
}
@media (max-width: 47.99875em) {
  .block-questions__button {
    width: 1.8125rem;
    height: 1.8125rem;
  }
}
.block-questions__button-minus {
  width: 1.25rem;
  height: 0.125rem;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 0.75rem;
}
@media (max-width: 47.99875em) {
  .block-questions__button-minus {
    width: 0.875rem;
  }
}
.block-questions__button-plus {
  width: 1.25rem;
  height: 0.125rem;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-90deg);
      -ms-transform: translate(-50%, -50%) rotate(-90deg);
          transform: translate(-50%, -50%) rotate(-90deg);
  border-radius: 0.75rem;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  opacity: 1;
}
@media (max-width: 47.99875em) {
  .block-questions__button-plus {
    width: 0.875rem;
  }
}
.block-questions__button-plus.active {
  opacity: 0;
}
.block-questions__text {
  margin-left: 6.6875rem;
  font-size: 1.125rem;
  line-height: 1.77; /* 32/18 */
  -webkit-transition: max-height 0.4s ease-in-out, opacity 0.3s;
  transition: max-height 0.4s ease-in-out, opacity 0.3s;
  max-height: 0;
  opacity: 0;
}
@media (max-width: 47.99875em) {
  .block-questions__text {
    margin-left: 0rem;
    font-size: 0.875rem;
    line-height: 1.5; /* 21/14 */
  }
}
.block-questions__text.active {
  -webkit-transition: max-height 0.4s ease-in-out, opacity 0.3s;
  transition: max-height 0.4s ease-in-out, opacity 0.3s;
  max-height: 62.5rem;
  opacity: 1;
}

.try__wrapper {
  background-image: url(../images/features/wrapper-image.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 47.99875em) {
  .try__container {
    padding-top: 2.75rem;
    padding-bottom: 2.75rem;
  }
}
.try__row {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 47.99875em) {
  .try__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
.try__main-image {
  overflow: hidden;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
  aspect-ratio: 672/447;
}
@media (max-width: 47.99875em) {
  .try__main-image {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }
}
.try__main-image > img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 61.99875em) {
  .try__main-image > img {
    -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
            transform: scale(1.3);
    padding-top: 3.125rem;
  }
}
@media (max-width: 47.99875em) {
  .try__main-image > img {
    padding-top: 0rem;
  }
}
.try__info {
  padding: 6.875rem 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 37.25rem;
          flex: 1 1 37.25rem;
}
@media (max-width: 47.99875em) {
  .try__info {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    padding: 0;
  }
}
@media (max-width: 47.99875em) {
  .try__images {
    display: none;
  }
}

.info-try__title {
  margin-bottom: 1.5rem;
}
@media (max-width: 47.99875em) {
  .info-try__title {
    margin-bottom: 1rem;
    font-size: 2rem;
  }
}
.info-try__text {
  margin-bottom: 2.5rem;
  color: var(--lightColor);
  font-size: 1.25rem;
  line-height: 1.6; /* 32/20 */
}
@media (max-width: 47.99875em) {
  .info-try__text {
    margin-bottom: 0rem;
    font-size: 1rem;
  }
}
@media (any-hover: hover) {
  .info-try__button:hover {
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    -webkit-transform: scale(1.02);
        -ms-transform: scale(1.02);
            transform: scale(1.02);
  }
}

.images-try > * {
  position: absolute;
  bottom: 0;
}
.images-try__first {
  left: 0;
  width: 8.3125rem;
  height: 8.3125rem;
}
.images-try__first > img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.images-try__second {
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 6.625rem;
  height: 6.8125rem;
}
.images-try__second > img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.images-try__thirth {
  right: 0;
  width: 6.625rem;
  height: 6.8125rem;
}
.images-try__thirth > img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}