.hero {
  // .hero__wrapper

  &__wrapper {
    background-color: var(--backgroundMainColor);
  }

  // .hero__container

  &__container {
  }

  // .hero__row

  &__row {
    padding-bottom: toRem(137);

    display: flex;
    align-items: start;
    @media (max-width: toEm(767.98)) {
      padding-bottom: toRem(24);

      flex-direction: column;
      row-gap: toRem(24);
    }
  }

  // .hero__info

  &__info {
    flex: 1 1 toRem(600);
    @media (max-width: toEm(767.98)) {
      flex-basis: auto;
    }
  }

  // .hero__image

  &__image {
    flex: 1 1 toRem(640);
    overflow: hidden;
    & > img {
      min-width: toRem(600);
      transform: scale(1.2) translateY(10%);
      width: 100%;
      height: auto;
      object-fit: cover;
      @media (max-width: toEm(767.98)) {
        // transform: scale(1.2) translateY(0);
        min-width: auto;
      }
    }
    @media (max-width: toEm(767.98)) {
      flex: 0 0 auto;
    }
    // @media (max-width: toEm(1200)) {
    //   flex-shrink: 0;
    // }
  }
}
.info-hero {
  display: flex;
  flex-direction: column;
  row-gap: toRem(24);

  @media (max-width: toEm(767.98)) {
    row-gap: toRem(16);
  }

  // .info-hero__borders-lines-image

  &__borders-lines-image {
    transform: translateY(toRem(50));
    margin-top: toRem(-50);
    max-width: toRem(466);
    max-height: toRem(173);
    & > img {
      width: 100%;
      object-fit: cover;
    }
    @media (max-width: toEm(767.98)) {
      max-width: none;

      margin-top: toRem(-100);
      transform: translateY(toRem(30));
    }
  }

  // .info-hero__title

  &__title {
    font-size: toRem(64);
    line-height: 1.2; /* 78/64 */
    font-weight: 700;
    & > span {
      background: var(--mainGragient);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    @media (max-width: toEm(1200)) {
      font-size: toRem(52);
    }
    @media (max-width: toEm(991.98)) {
      font-size: toRem(46);
    }
    @media (max-width: toEm(767.98)) {
      font-size: toRem(40);
    }
  }

  // .info-hero__text

  &__text {
    font-size: toRem(20);
    line-height: 1.6; /* 32/20 */

    @media (max-width: toEm(767.98)) {
      margin-bottom: toRem(8);
    }
  }

  // .info-hero__buttons

  &__buttons {
  }

  // .info-hero__scores

  &__scores {
  }
}
.buttons-info-hero {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: toRem(12);
  white-space: nowrap;
  // .buttons-info-hero__it-work

  &__it-work {
  }

  // .buttons-info-hero__library

  &__library {
    color: var(--mainColor);
    background-color: var(--backgroundButtonSilverColor);
  }
}
.scores-info-hero {
  display: flex;
  align-items: center;
  gap: toRem(7);
  font-weight: 600;

  font-size: toRem(14);
  line-height: 1.71; /* 24/14 */
  // .scores-info-hero__score

  &__score {
  }

  // .scores-info-hero__stars-image

  &__stars-image {
    width: toRem(106);
    & > img {
      width: 100%;
      object-fit: contain;
    }
  }

  // .scores-info-hero__info-text

  &__info-text {
  }
}
//===============================
.features {
  // .features__wrapper

  &__wrapper {
    background-image: url(../images/features/wrapper-image.svg);
  }

  // .features__container

  &__container {
    padding: toRem(85) toRem(15);
    @media (max-width: toEm(767.98)) {
      padding: toRem(57) toRem(20);
    }
  }

  // .features__row

  &__row {
    padding: toRem(46) toRem(48);
    background-color: var(--whiteColor);
    border-radius: toRem(12);

    display: flex;
    column-gap: toRem(99);
    @media (max-width: toEm(1100)) {
      column-gap: toRem(50);
    }
    @media (max-width: toEm(991.98)) {
      column-gap: toRem(20);
    }
    @media (max-width: toEm(767.98)) {
      padding: toRem(32) toRem(10);

      flex-direction: column;
      align-items: center;
      row-gap: toRem(80);
    }
  }

  // .features__block

  &__block {
  }
}
.block-features {
  display: flex;
  flex-direction: column;
  row-gap: toRem(16);
  @media (max-width: toEm(767.98)) {
    align-items: center;
    text-align: center;
  }

  // .block-features__image

  &__image {
    width: toRem(110);
    height: toRem(105);
    & > img {
      width: 100%;
      object-fit: cover;
    }
    @media (max-width: toEm(767.98)) {
      width: toRem(75);
      height: toRem(72);
    }
  }

  // .block-features__title

  &__title {
    font-size: toRem(24);
    font-weight: 700;
    line-height: 1.33; /* 32/24 */
    @media (max-width: toEm(767.98)) {
      font-size: toRem(20);
    }
  }

  // .block-features__info-text

  &__info-text {
    color: var(--lightColor);
    line-height: 1.56; /* 25/16 */
  }
}
//===========================
.app {
  // .app__wrapper

  &__wrapper {
    background-color: var(--whiteColor);
  }

  // .app__container

  &__container {
  }

  // .app__row

  &__row {
    padding: toRem(100) 0;

    display: flex;
    gap: toRem(15);

    position: relative;
    &::before {
      content: "";
      background-image: url(../images/hero/lines.svg);
      background-repeat: no-repeat;
      transform: rotate(-68deg);
      position: absolute;
      left: toRem(-332);
      top: toRem(180);
      width: toRem(466);
      height: toRem(173);
    }

    @media (max-width: toEm(767.98)) {
      padding: toRem(40) 0 0 0;

      flex-direction: column;
      row-gap: toRem(40);
    }
  }

  // .app__info

  &__info {
    flex: 1 1 toRem(600);
    @media (max-width: toEm(767.98)) {
      flex: 1 1 auto;
    }
  }

  // .app__image

  &__image {
    flex: 1 1 toRem(450);
    & > img {
      aspect-ratio: 500 / 840;
      width: 100%;
      object-fit: cover;
      transform: scale(1.3);
      margin-left: toRem(-50);

      @media (max-width: toEm(767.98)) {
        // transform: scale(1);
        margin-left: toRem(-100);
      }
      @media (max-width: toEm(479.98)) {
        margin-left: toRem(-53);
      }
    }
    @media (max-width: toEm(767.98)) {
      flex: 1 1 auto;
    }
  }
}
.info-app {
  // .info-app__title

  &__title {
    margin-bottom: toRem(24);
    @media (max-width: toEm(767.98)) {
      margin-bottom: toRem(16);
    }
  }

  // .info-app__text

  &__text {
    margin-bottom: toRem(32);

    color: var(--lightColor);
    font-size: toRem(20);
    line-height: 1.33;
    @media (max-width: toEm(767.98)) {
      margin-bottom: toRem(24);

      font-size: toRem(16);
      line-height: 1.56; /* 25/16 */
    }
  }

  // .info-app__list

  &__list {
    margin-bottom: toRem(40);

    display: flex;
    flex-direction: column;
    row-gap: toRem(37);

    @media (max-width: toEm(767.98)) {
      margin-bottom: toRem(30);

      row-gap: toRem(24);
    }
  }

  // .info-app__item

  &__item {
    font-size: toRem(20);
    font-weight: 600;
    line-height: 1.6; /* 32/20 */
    display: flex;
    align-items: center;
    column-gap: toRem(22);
    @media (max-width: toEm(767.98)) {
      font-size: toRem(16);
    }

    &::before {
      content: "1";
      display: flex;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      font-size: toRem(22);
      color: var(--whiteColor);
      width: toRem(42);
      height: toRem(42);
      border-radius: 50%;
      background: var(--mainGragient);
    }

    &:nth-child(2) {
      &::before {
        content: "2";
      }
    }
    &:nth-child(3) {
      &::before {
        content: "3";
      }
    }
    &:nth-child(4) {
      &::before {
        content: "4";
      }
    }
    &:nth-child(5) {
      &::before {
        content: "5";
      }
    }
    &:nth-child(6) {
      &::before {
        content: "6";
      }
    }
  }

  // .info-app__app

  &__app {
  }
}

.app-info {
  display: flex;
  align-items: center;
  column-gap: toRem(13);
  // .app-info__google-image

  &__google-image {
    width: toRem(176);
    height: toRem(52);
    border-radius: toRem(7);
    overflow: hidden;
    & > img {
      width: 100%;
      object-fit: cover;
    }
  }

  // .app-info__app-image

  &__app-image {
    width: toRem(156);
    height: toRem(52);
    border-radius: toRem(7);
    overflow: hidden;
    & > img {
      width: 100%;
      object-fit: cover;
    }
  }
}
//==============================
.explore {
  // .explore__wrapper

  &__wrapper {
    background-image: url(../images/explore/background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  // .explore__container

  &__container {
  }

  // .explore__row

  &__row {
    display: flex;
    align-items: center;
    column-gap: toRem(133);

    @media (max-width: toEm(1150)) {
      column-gap: toRem(40);
    }

    @media (max-width: toEm(650)) {
      flex-wrap: wrap;
    }
  }

  // .explore__info

  &__info {
    padding: toRem(121) 0;
    flex-basis: toRem(600);
    @media (max-width: toEm(1150)) {
      padding: toRem(80) 0;
    }
    @media (max-width: toEm(991.98)) {
      padding: toRem(60) 0;
    }

    @media (max-width: toEm(767.98)) {
      padding: toRem(44) 0;
    }
  }

  // .explore__image

  &__image {
    flex: 1 1 toRem(515);
    & > img {
      width: 100%;
      aspect-ratio: 515 / 493;
    }
    @media (max-width: toEm(650)) {
      flex-basis: auto;
    }
  }
}
.info-explore {
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: toRem(24);
  // .info-explore__title

  &__title {
    color: #fff;
  }

  // .info-explore__text

  &__text {
    font-size: toRem(20);
    color: #fff;
    line-height: 1.6; /* 32/20 */

    @media (max-width: toEm(767.98)) {
      font-size: toRem(16);
    }
  }

  // .info-explore__button

  &__button {
    background-color: var(--whiteColor);
    color: var(--blackColor);
  }
}
//=================================
.join {
  //.join__wrapper

  &__wrapper {
    background-image: url(../images/features/wrapper-image.svg);
  }

  // .join__container

  &__container {
    padding-top: toRem(100);
    padding-bottom: toRem(110);

    display: flex;
    flex-direction: column;
    align-items: center;
    @media (max-width: toEm(767.98)) {
      padding-top: toRem(40);
      padding-bottom: toRem(40);
    }
  }

  // .join__top

  &__top {
    margin-bottom: toRem(100);
  }

  // .join__images

  &__images {
    width: 100%;

    @media (max-width: toEm(1100)) {
      display: none;
    }
  }

  // .join__main

  &__main {
    margin-bottom: toRem(60);
  }

  // .join__slider

  &__slider {
    margin-bottom: toRem(60);
  }

  // .join__bottom

  &__bottom {
  }
}
.top-join {
  display: flex;
  flex-direction: column;
  row-gap: toRem(24);
  align-items: center;

  @media (max-width: toEm(767.98)) {
    row-gap: toRem(32);
  }
  // .top-join__title

  &__title {
    text-align: center;
  }

  // .top-join__info-row

  &__info-row {
    display: flex;
    align-items: center;
    column-gap: toRem(50);

    @media (max-width: toEm(991.98)) {
      column-gap: toRem(15);
    }

    @media (max-width: toEm(767.98)) {
      flex-direction: column;
      row-gap: toRem(20);
    }
  }

  // .top-join__block

  &__block {
  }

  // .top-join__border

  &__border {
    width: toRem(1);
    height: toRem(63);
    background-color: #78848c;

    @media (max-width: toEm(767.98)) {
      width: toRem(20);
      height: toRem(1);
    }
  }
}

.block-top-join {
  // .block-top-join__title

  &__title {
    margin-bottom: toRem(7);

    text-align: center;
    color: var(--lightColor);
    font-size: toRem(18);
    line-height: 1.27; /* 23/18 */
    @media (max-width: toEm(767.98)) {
      font-size: toRem(16);
    }
  }

  // .block-top-join__info-text

  &__info-text {
    font-size: toRem(24);
    font-weight: 700;
    line-height: 1.33; /* 32/24 */
    text-align: center;

    @media (max-width: toEm(767.98)) {
      font-size: toRem(20);
    }
  }
}
.images-join {
  position: relative;
  // .images-join__book

  &__book {
    position: absolute;
    top: 0;
    left: toRem(-60);
    transform: translateY(-60%);
    width: toRem(144);
    height: toRem(144);
    & > img {
      width: 100%;
      aspect-ratio: 1/1;
    }

    @media (max-width: toEm(1360)) {
      left: toRem(0);
    }
  }

  // .images-join__globe

  &__globe {
    position: absolute;
    top: 0;
    right: toRem(-60);
    transform: translateY(-60%);
    width: toRem(144);
    height: toRem(144);
    & > img {
      width: 100%;
      aspect-ratio: 1/1;
    }
    @media (max-width: toEm(1360)) {
      right: toRem(0);
    }
  }
}
.main-join {
  max-width: toRem(820);

  // .main-join__title

  &__title {
    margin-bottom: toRem(24);

    text-align: center;
  }

  // .main-join__text

  &__text {
    margin-bottom: toRem(32);

    text-align: center;
    color: var(--lightColor);
    font-size: toRem(20);
    line-height: 1.6; /* 32/20 */

    & > span {
      background-color: #bffbff;
      padding: 0 toRem(3);
    }
    @media (max-width: toEm(767.98)) {
      font-size: toRem(16);
    }
  }

  // .main-join__bottom

  &__bottom {
  }
}
.bottom-main-join {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: toRem(24);

  @media (max-width: toEm(991.98)) {
    column-gap: toRem(20);
  }

  @media (max-width: toEm(767.98)) {
    flex-direction: column;
    row-gap: toRem(21);
  }
  // .bottom-main-join__pagination

  &__pagination {
    display: flex;
    align-items: center;
    column-gap: toRem(16);

    // Всі кнопки пагінації
    & > * {
      border-radius: 50%;
      width: toRem(42);
      aspect-ratio: 1/1;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: toRem(22);
      font-weight: 600;
      color: #0d1216;
      background: linear-gradient(white, white) padding-box,
        /* внутрішній колір */ linear-gradient(to right, #00c4cc, #8b3dff)
          border-box; /* градієнтна рамка */
      border: toRem(1) solid transparent;
      @media (max-width: toEm(991.98)) {
        font-size: toRem(17);
        width: toRem(35);
      }
      @media (max-width: toEm(767.98)) {
        font-size: toRem(15);
        width: toRem(29);
      }
    }

    // Активна (перша) кнопка
    & > div:first-child {
      color: var(--whiteColor);
      background: linear-gradient(to right, #00c4cc, #8b3dff);
      border: none;
    }
  }

  // .bottom-main-join__border

  &__border {
    width: toRem(1);
    height: toRem(48);
    background-color: #78848c;

    @media (max-width: toEm(767.98)) {
      display: none;
    }
  }

  // .bottom-main-join__links

  &__links {
    display: flex;
    align-items: center;
    border-radius: toRem(100);
    font-size: toRem(17);
    line-height: 2.05; /* 35/17 */
    background: linear-gradient(white, white) padding-box,
      /* внутрішній колір */ linear-gradient(to right, #00c4cc, #8b3dff)
        border-box; /* градієнтна рамка */
    border: toRem(1) solid transparent;
    overflow: hidden;
    width: toRem(440);

    @media (max-width: toEm(991.98)) {
      width: toRem(400);
    }
  }

  // .bottom-main-join__games

  &__games {
    padding: toRem(7) toRem(12);
    color: #fff;
    background: var(--mainGragient);
    flex-basis: toRem(220);
    white-space: nowrap;
    text-align: center;
  }

  // .bottom-main-join__practice

  &__practice {
    flex-basis: toRem(220);
    padding: toRem(7) toRem(12);
    text-align: center;
    white-space: nowrap;
    background-color: var(--whiteColor);
    color: var(--mainColor);
  }
}
.bottom-join {
  text-align: center;
  @media (max-width: toEm(767.98)) {
    display: none;
  }
  // .bottom-join__link

  &__link {
    margin-bottom: toRem(16);
  }

  // .bottom-join__info-text

  &__info-text {
    line-height: 156.25%; /* 25/16 */
    display: flex;
    align-items: center;
    gap: toRem(5);
    & > span {
      text-decoration: underline;
    }

    &::before {
      content: "";
      width: toRem(22);
      margin-right: toRem(3);
      aspect-ratio: 1/1;
      background-image: url(../images/join/icon-bell.svg);
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
}

//========
.slider-join {
  // .slider-join__block

  &__block {
    border-radius: toRem(8);
    overflow: hidden;
    box-shadow: 0 toRem(4) toRem(8) 0 rgba(0, 0, 0, 0.05);
    background-color: var(--whiteColor);
  }

  // .slider-join__image

  &__image {
    margin-bottom: toRem(10);
    & > Img {
      aspect-ratio: 390/290;
    }
  }

  // .slider-join__title

  &__title {
    margin-bottom: toRem(10);
    padding: 0 toRem(22);
    font-size: toRem(30);
    line-height: 1.36; /* 41/30 */
    font-weight: 700;
  }

  // .slider-join__category

  &__category {
    margin-bottom: toRem(35);
    padding: 0 toRem(22);
    font-size: toRem(15);
    font-weight: 700;
    line-height: 1.6; /* 24/15 */
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: toRem(14);
    & > div {
      color: #00a1a7;
      padding: toRem(6) toRem(10);
      border-radius: toRem(6);
      background-color: rgb(0, 196, 204, 0.1);
    }
  }

  // .slider-join__link

  &__link {
    margin-bottom: toRem(24);
    padding: 0 toRem(22);

    color: #8b3dff;
    font-weight: 700;
    line-height: 1.5; /* 24/16 */
    text-decoration: underline;
  }
}

//=======
.swiper {
  height: 500px;
}
.swiper-slide {
  background: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}
