@use "sass:math";

//==============function============
@function toRem($px, $rem: 16) {
  @return math.div($px, $rem) * 1rem;
}
@function toEm($px, $em: 16) {
  @return math.div($px, $em) * 1em;
}
//==========color======
:root {
  --mainColor: #0d1216;
  --lightColor: #313c45;
  --whiteColor: #ffffff;
  --blackColor: #000000;
  --backgroundMainColor: #fbfbfd;
  --backgroundButtonSilverColor: #f0f0f2;
  --mainGragient: linear-gradient(to right, #00c4cc, #8b3dff);
}

.dark-theme {
  --mainColor: #cbcbcb;
  --lightColor: #abacac;
  --whiteColor: #000000;
  --blackColor: #f9f9f9;
  --backgroundMainColor: #2f2f2f;
  --backgroundButtonSilverColor: #3e3d3d;
}
//===============================
[class*="__container"] {
  max-width: toRem(1270);
  margin: 0 auto;
  padding-left: toRem(15);
  padding-right: toRem(15);
}
body {
  font-family: "Quicksand";
  font-weight: 500;
  font-style: normal;
  color: var(--mainColor);
  background-color: var(--whiteColor);
}

.button {
  font-weight: 700;
  line-height: 1.56; /* 25/16 */
  border-radius: toRem(8);
  padding: toRem(12) toRem(20);
  background-color: #8b3dff;
  color: #fff;
  @media (max-width: toEm(600)) {
    width: 100%;
    text-align: center;
  }
}
.title {
  font-size: toRem(40);
  line-height: 1.2; /* 48/40 */
  font-weight: 700;
  @media (max-width: toEm(767.98)) {
    font-size: toRem(24);
    line-height: 1.33; /* 32/24 */
  }
}
// @media (any-hover: hover) {
//     &:hover {
//       color: $mainColor;
//       font-weight: 700;
//       transition: color 0.3s, font-weight 0.2s;
//     }
//   }
//=================================

//==============================
@import "reset";
@import "font";
@import "header";
@import "footer";
@import "page";
